.viewContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
  }

  .all {
    padding: 2px 10px;
    border: 1px solid #ffff;
    border-radius: 16px;
    cursor: pointer;
  }
  .active {
    border: 2px solid rgb(248, 188, 10);
    padding: 2px 10px;
    border-radius: 16px;
    cursor: pointer;
  }
  .filter{
    display: flex;
    flex-direction: row;
  }

  .Items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;

  }